/* ecba82-2e933c-297045-68a357-204e4a */
body {
    margin: 0;
    background-color: #2e933c;
}

html {
    height: 100%;
}

h1 { 
    color: #ecba82;
}

h2 {
    border-radius: 10px;
    background-color: #204e4a;
    color: #ecba82;
    padding: 10px;
    margin: 0px 0px 5px 0px;
    width: 97%;
}

.content {
    overflow-y: scroll;
    background-color: #ecba82;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    height: 500px;
    width: 97%;
}

.content ul li a, a:visited {
    color: #297045;
}

a, a:visited {
    text-decoration: none;
    color: #297045;
}

a:hover, a:visited:hover {
    color: #204e4a;
}

.message {
    color: #ecba82;
}

.keywords {
    height: 200px;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 10px;
    color: black;
    background-color: #68a357;
}

#header {
    width: 100%;
    background-color: #297045;
    padding: 0px 10px 0px 10px;
}

#title {
    display: inline-block;
}

#navigation {
    display: inline-block;
}

#navigation ul li {
    display: inline-block;  
    padding: 20px;
}

#navigation ul li:hover {
    background-color: #204e4a;
    border-radius: 10px;
}

#navigation ul li:hover a {
    color: #ecba82;  
    border-radius: 10px;
}

#navigation ul li a {
    color: #ecba82;  
    font-size: 24px;
}

#main {
    display: inline-block;
    width: 100%;
    padding: 0px 10px 0px 10px;
}

#message {
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    color: #ecba82;
}

#home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#home img {
    width: 200px;
    height: 200px;
    padding: 100px;
    border: 3px solid #000;
    border-radius: 50px;
    background-color: white;
}

#home img:hover {
    width: 200px;
    height: 200px;
    padding: 100px;
    border: 3px solid #000;
    border-radius: 50px;
    background-color: #204e4a;
}

#home h2 {
    width: 200px;
    padding: 20px 100px 20px 100px;
    border: 3px solid #000;
    border-radius: 50px;
    background-color: #ecba82;
    color: black;
}

#home h2:hover {
    width: 200px;
    padding: 20px 100px 20px 100px;
    border: 3px solid #000;
    border-radius: 50px;
    color: #ecba82;
    background-color: #204e4a;
}

.homeblock {
    display: inline-block;  
    padding: 20px;
}

#explore {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#explore > div {
    display: inline-block;
    width: 32%;
    height: 350px;
    vertical-align: top;
    min-width: 300px;
    margin-right: 5px;
}

#explore h2 {
    border-radius: 10px;
    background-color: #204e4a;
    color: #ecba82;
    padding: 10px;
    margin: 0px 0px 5px 0px;
    text-align: left;
}

#explore h3 {
    margin: 0px;
}

#explore h3 > ul {
    margin: 0px;
}

#explore h3 > ul > li {
    font-size: 12px;
}

#explore h4 {
    margin: 0px;
    padding: 5px 0px 5px 0px;
}

#map > .content {
    border-radius: 10px;
    background-color: #ecba82;
    color: black;
    padding: 10px;
    margin-bottom: 5px;
    overflow: visible;
    height: 450px;
}

#googleMap {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

label > input { 
  visibility: hidden; 
  position: absolute; 
}

label > input + img { 
  cursor:pointer;
  border:2px solid transparent;
}

#filters > .content {
    overflow-y: scroll;
    border-radius: 10px;
    background-color: #ecba82;
    color: black;
    padding: 10px;
    height: 450px;
}

#filters ul {
    list-style-type: none;
    font-size: 14px;
    display: inline;
    padding-left: 0px;
}

#filters ul li {
    display: inline;
    margin-left: 5px;
}

#pointInformation > .content {
    overflow-y: scroll;
    border-radius: 10px;
    background-color: #ecba82;
    color: black;
    padding: 10px;
    height: 450px;
}

#pointInformation label {
    width: 70px;
    display: inline-block;
}

#divIcon {
    width: 100%;
    display: inline-block;
}

#divIcon img {
    display: inline-block;    
}

.radioIcon {
    display: inline-block;
}

.tree ul {
    list-style: none outside none;
    padding-left: 10px;
}

.tree li a {
    line-height: 25px;
}

.tree > ul > li > a {
    color: #297045;
    display: block;
    font-weight: normal;
    position: relative;
    text-decoration: none;
}

.tree li.parent > a {
    padding: 0 0 0 28px;
}

.tree li.parent > a:before {
    background-image: url("../images/plus_minus_icons.png");
    background-position: 25px center;
    content: ""; 
    display: block;
    height: 21px;
    left: 0;
    position: absolute;
    top: 2px;
    vertical-align: middle;
    width: 23px;
}

.tree ul li.active > a:before {
    background-position: 0 center;
}

.tree ul li ul {
    border-left: 1px solid #204e4a;
    display: none;
    margin: 0 0 0 12px;
    overflow: hidden;
    padding: 0 0 0 25px;
}
.tree ul li ul li {
    position: relative;
}
.tree ul li ul li:before {
    border-bottom: 1px dashed #204e4a;
    content: "";
    left: -20px;
    position: absolute;
    top: 12px;
    width: 15px;
}