body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    color: white;
}

html {
    height: 100%;
}

a, a:visited {
    text-decoration: none;
    color: white;
}

ul {
    color: white;
}

#header {
    width: 100%;
}

#title {
    display: inline-block;
    margin-left: 50px;
}

#navigation {
    display: inline-block;
    margin-left: 100px;
}

#navigation ul li {
    display: inline-block;  
    margin-left: 20px;
    padding: 10px;
}

#navigation ul li:hover {
}

#navigation ul li a {
    color: white;  
    font-size: 24px;
}

#main {
    display: inline-block;
}

#home {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 50px;
}

#home img {
    width: 200px;
    height: 200px;
    padding: 100px;
    border: 3px solid #000;
    border-radius: 50px;
    background-color: white;
}

#home h2 {
    padding: 20px;
    border: 3px solid #000;
    border-radius: 50px;
    background-color: white;
    color: black;
}

.homeblock {
    display: inline-block;   
    margin-left: 50px;
}

#message {
    width: 100%;
    margin-top: 10px;
    margin-left: 20px;
}

#explore h2 {
    color: black;
}

#explore h3 {
    color: black;
}

#explore h4 {
    color: black;
}

#explore p { 
    color: black;
}

#googleMap {
    width: 600px;
    height: 500px;
}

label > input { 
  visibility: hidden; 
  position: absolute; 
}

label > input + img { 
  cursor:pointer;
  border:2px solid transparent;
}

#instructions {
    background-color: white;
    width: 600px;
    display: inline-block;
    margin-left: 10px;
    padding: 0px 10px 10px 10px;
}

#keywords {
    height: 300px;
    width: 400px;
    overflow-y: scroll;
    margin-bottom: 10px;
    color: black;
}

#pointInformation {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    margin-left: 10px;
    padding: 0px 10px 10px 10px;
}

#filters {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    margin-left: 10px;
    padding: 0px 10px 10px 10px;
}

#pointInformation label {
    width: 70px;
    display: inline-block;
}

#divIcon {
    width: 95%;
    border: 1px solid black;
    display: inline-block;
    overflow-x: scroll;
}

#divIcon img {
    display: inline-block;    
}

.radioIcon {
    display: inline-block;
}

#pointInformation textarea {
    width: 95%;
}

#train {
    overflow-y: scroll;
    width: 800px;
    height: 600px;
}

#race {
    overflow-y: scroll;
    width: 800px;
    height: 600px;
    margin-left: 10px;
}

#contact {
    padding: 0px 10px 0px 10px;
}

#contact p label {
    display: inline-block;
    font-weight: bold;
    width: 100px;
}

#contact p input {
    display: inline-block;
    width: 200px;
}

#about {
    overflow-y: scroll;
    width: 800px;
    height: 600px;
    margin-left: 10px;
}

#login {
    padding: 0px 10px 0px 10px;    
}

#login p label {
    display: inline-block;
    font-weight: bold;
    width: 100px;
}

#login p input {
    display: inline-block;
    width: 200px;
}

#register {
    padding: 0px 10px 0px 10px;    
}

#register p label {
    display: inline-block;
    font-weight: bold;
    width: 100px;
}

#register p input {
    display: inline-block;
    width: 200px;
}

#footer {
    width: 100%;
    border: 1px solid black;
}